<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iaa.surveywizard">



    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateSession"
            android:label="Create Session" />
        <activity
            android:name=".JoinSession"
            android:label="Join Session" />
        <activity
            android:name=".MyQuestionsSecond"
            android:label="My Questions" />
        <activity
            android:name=".CreateSurvey"
            android:label="Create Survey" />
        <activity
            android:name=".addNewQuestion"
            android:label="Add new question" />
        <activity
            android:name=".MyQuestions"
            android:label="My Questions" />
        <activity
            android:name=".submitAnswer"
            android:label="The Session" />
        <activity
            android:name=".TyNote"
            android:label="Thank you!" />
        <activity android:name=".Show_Result"></activity>
    </application>

</manifest>